@use "../../styles/colors";

.order-list-container {
  padding: 10px;
  .order {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid colors.$secondary;
  }
}

.order-body {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  .order-item {
    padding: 30px 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
    div.order-item-image {
      flex-grow: 1;
      img {
        object-fit: cover;
        width: 200px;
        height: 100%;
      }
    }
  }
}
