@use "../../../styles/colors";
:host {
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid colors.$secondary;
  button {
    position: absolute;
    left: 10%;
  }
}
.book-container {
  display: flex;
  justify-content: center;
}
.img-wrapper {
  width: 40%;
  text-align: center;
  position: relative;
  img {
    width: 100%;
  }

  &:hover button {
    display: block;
  }
  button {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 50%;

  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    label {
      width: 40%;
      text-align: left;
    }
    input,
    select {
      width: 55%;
    }
  }
}
